@import "~bootstrap/scss/bootstrap.scss";

ul {
    list-style-type: none;
    color: rgb(77, 170, 87);
    border:2px solid;
    border-color: rgb(77, 170, 87);
    padding: 1rem;
    
}

.music-player{
 margin: auto;
 display: table;
 margin-top: 1rem;
}

h1,figure {
    color:rgb(77, 170, 87);
}

figure{
    margin: auto;
    display: table;
    padding: 1rem;
    font-size: 1rem
   }

.music-player{
    margin: auto;
    display: table;
}

.btn {
margin-left: 4rem;
margin-right: 5rem;
background-color: transparent;
border-color: transparent;
width: 2rem;
height: 2rem;
}

.fas {
 color:rgb(77, 170, 87);
 font-size: 3rem;
}

.playlist {
    height: 35rem;
    width:30rem;
    background-color: rgb(181, 221, 164);
    margin: auto;
    display: table;
    border-radius: 3%;
}

body {
    background-color: rgb(49, 47, 47);
}